/*! Cosmos v0.0.1.test | MIT License | github.com/RyanHo97/cosmos */

/* Cosmos Base */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.cosmos-container {
  margin-right: auto;
  margin-left: auto;
}
