/*! Cosmos v0.0.1.test | MIT License | github.com/RyanHo97/cosmos */

/* Cosmos Base */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}   

.cosmos-container {
  margin-right: auto;
  margin-left: auto;
}

.cosmos-container-w1000{
  width: 1000px;
}

.cosmos-center{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.cosmos-tcenter{
  text-align: center;
}

.cosmos-header{
  background-color: rgb(56, 14, 124);
  color: #f8f8f5;
  min-height: 60px;
}

.cosmos-content{
  padding: 20px auto;
  background-color: #f8f8f5;
  min-height: 300px;
}

.cosmos-footer{
  margin: 20px auto 0 auto;
  min-height: 60px;
}
