/*! Cosmos v0.0.1.test | MIT License | github.com/RyanHo97/cosmos */

/* Cosmos Base */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}   

.cosmos-container {
  margin-right: auto;
  margin-left: auto;
}

.cosmos-container-w1000{
  width: 1000px;
}

.cosmos-center{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.cosmos-tcenter{
  text-align: center;
}

.cosmos-header{
  background-color: rgb(56, 14, 124);
  color: #f8f8f5;
  min-height: 60px;
}

.cosmos-content{
  padding: 20px auto;
  background-color: #f8f8f5;
  min-height: 300px;
}

.cosmos-footer{
  margin: 20px auto 0 auto;
  min-height: 60px;
}

/* Cosmos Grid */

.cosmos-1{
  float: left;
  width: 8.333333%;
}

.cosmos-2{
  float: left;
  width: 16.666667%;
}

.cosmos-3{
  float: left;
  width: 25%;
}

.cosmos-4{
  float: left;
  width: 33.333333%;
}

.cosmos-5{
  float: left;
  width: 41.666667%;
}

.cosmos-6{
  float: left;
  width: 50%;
}

.cosmos-7{
  float: left;
  width: 58.333333%;
}

.cosmos-8{
  float: left;
  width: 66.666667%;
}

.cosmos-9{
  float: left;
  width: 75%;
}

.cosmos-10{
  float: left;
  width: 83.333333%;
}

.cosmos-11{
  float: left;
  width: 91.666667%;
}

.cosmos-12{
  float: left;
  width: 100%;
}
